---
import BaseLayout from "../layouts/BaseLayout.astro";
import Title from "../components/Title.astro";
import SubscribeSection from "../components/SubscribeSection.astro";
import Intro from "../components/Intro.astro";
import Reasons from "../components/Reasons.astro";
import CardList from "../components/CardList.astro";
import Carousel from "../components/Carousel.astro";
import CarouselContainer from "../components/CarouselContainer.astro";
---

<BaseLayout>
  <Title>
    <SubscribeSection />
  </Title>
  <Intro />
  <Reasons>
    <CardList />
  </Reasons>
  <Intro />
  <CarouselContainer>
    <Carousel />
  </CarouselContainer>
  <Intro />
</BaseLayout>
