---
// src/components/CardList.astro
import Card from "./Card.astro";

const cards = [
    {
        image: "/logo.png",
        title: "Esencia Dungeon",
        content: "Exploración, pillaje y partidas de cara, por supuesto",
        direction: "right",
    },
    {
        image: "/logo.png",
        title: "Mundos Únicos",
        content: "No hay dos partidas iguales",
        direction: "left",
    },
    {
        image: "/logo.png",
        title: "1 - 4 Jugadores",
        content: "Partidas Rápidas (30' x Jugador)",
        direction: "right",
    },
    {
        image: "/logo.png",
        title: "Gestión de Recursos",
        content: "¿Mejorarás tu Emblema o cumplirás una Misión?",
        direction: "left",
    },

    {
        image: "/logo.png",
        title: "Competitivo",
        content: "Esta party no va de colegueo",
        direction: "right",
    },
];
---

<style>
    .card-list {
        display: flex;
        width: 100vw;
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;
    }

    .card-container {
        width: 100%;
        display: flex;
        margin: 2rem; /* Add margin for more spacing */
    }

    .card-left {
        justify-content: flex-start;
    }

    .card-right {
        justify-content: flex-end;
    }
</style>

<div class="card-list">
    {
        cards.map((card, index) => (
            <div
                class={`card-container ${card.direction === "left" ? "card-left" : "card-right"}`}
                id={`card-container-${index}`}
            >
                <Card {...card} />
            </div>
        ))
    }
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const observerOptions = {
            threshold: 0.7,
        };

        const observer = new IntersectionObserver((entries) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    const cardElement = entry.target.querySelector(".card");
                    if (cardElement) {
                        cardElement.classList.add("visible");
                    }
                    observer.unobserve(entry.target);
                }
            });
        }, observerOptions);

        document.querySelectorAll(".card-container").forEach((el, index) => {
            if (el) {
                const cardElement = el.querySelector(".card");
                observer.observe(el);
            }
        });
    });
</script>
