---
// src/components/Card.astro
const { image, title, content, direction } = Astro.props;
---

<style>
	.card {
		width: 55%;
		height: 42vh;
		background-color: #1a1a1a;
		border: 1px solid #6b5b95;
		border-radius: 10px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		overflow: hidden;
		margin: 2rem;
		display: flex;
		flex-direction: row;
		align-items: center; /* Center align the content vertically */
		justify-content: center; /* Center align the content horizontally */
		opacity: 0;
		padding: 4rem;
		transform: translateY(20px);
		transition:
			opacity 0.5s ease-in-out,
			transform 0.5s ease-in-out;
	}

	.card img {
		width: 15rem;
		height: 15rem;
		margin-right: 2rem; /* Add margin to space out the image */
		border-bottom: none;
	}

	.card-content {
		display: flex;
		flex-direction: column;
		justify-content: center; /* Center the text vertically */
	}

	.card-title {
		font-size: 1.5rem;
		font-weight: 700;
		color: #ffd700;
		margin-bottom: 0.5rem;
	}

	.card-text {
		font-size: 1rem;
		color: #f0f0f0;
	}

	.visible {
		opacity: 1;
		transform: translateY(0);
	}

	@media (max-width: 756px) {
		.card {
			flex-direction: column; /* Stack content vertically */
			align-items: center; /* Center align the content horizontally */
			justify-content: space-around; /* Space around the content */
		}

		.card img {
			width: 10rem;
			height: 10rem;
			margin-right: 0; /* Remove right margin for smaller screens */
			margin-bottom: 1rem; /* Add bottom margin for spacing */
		}

		.card-content {
			padding: 0.5rem;
			width: 100%;
			align-items: center; /* Center align the text horizontally */
			justify-content: center;
			text-align: center;
		}

		.card-title {
			font-size: 1.2rem;
		}

		.card-text {
			font-size: 0.9rem;
		}
	}
</style>

<div class="card">
	<img src={image} alt={title} />
	<div class="card-content">
		<h5 class="card-title">{title}</h5>
		<p class="card-text">{content}</p>
	</div>
	<span></span>
</div>
