---
// src/components/Article.astro
---

<article
  class="flex flex-col md:flex-row items-center p-4 bg-background text-white"
  id="services"
>
  <img
    src="/logo.png"
    alt="¿Pero qué es esto?"
    class="w-1/3 md:w-1/4 mb-4 md:mb-0 md:mr-4"
  />
  <div class="article-content flex-1">
    <h2 class="text-secondary text-2xl mb-2">¿Pero qué es esto?</h2>
    <p>
      Pues esto es un juego de mesa con una app y que lo que mucho texto que no
      me apetece escribir ahora pero esto deberia ser una introducción no? como
      lo de duelbooks, y luego ya pasamos a las esencias por ejemplo, o cartas
      ya que
    </p>
  </div>
</article>
