---
// src/components/SubscribeSection.astro
---

<style>
    .subscribe-container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
    }
  
    .subscribe-title {
      font-size: 2rem;
      font-weight: 700;
      color: #FFD700; /* Gold color */
      margin-bottom: 1rem;
    }
  
    .subscribe-section {
      position: relative;
      width: 400px; /* Increased width */
      padding: 40px; /* Increased padding */
      background: rgba(26, 26, 26, 0.8); /* Semi-transparent background */
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      text-align: center;
    }
  
    .subscribe-subtitle {
      font-size: 1rem;
      font-weight: 400;
      color: #f0f0f0; /* Light text */
      margin-bottom: 1rem;
    }
  
    @media (max-width: 600px) {
      .subscribe-section {
        width: 80%;
      }
  
      .subscribe-title {
        font-size: 1.5rem;
      }
  
      .subscribe-subtitle {
        font-size: 0.875rem;
      }
    }
  </style>
  
  <div class="subscribe-container" id="subscribe">
    <h2 class="subscribe-title text-secondary">Subscríbete!</h2>
    <div class="subscribe-section" >
      <p class="subscribe-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <form>
        <input type="email" placeholder="Enter your email" class="w-full p-2 mb-4 rounded-md" />
        <button type="submit" class="w-full p-2 bg-secondary text-background rounded-md">Subscribe</button>
      </form>
    </div>
  </div>
  